<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking</title>
    <meta charset="utf-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/site/img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="stylesheet" href="/site/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/site/css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/site/css/style.css" type="text/css" media="screen">
		<script type="text/javascript" src="/site/js/jquery.js"></script>
    <script type="text/javascript" src="/site/js/superfish.js"></script>
    <script type="text/javascript" src="/site/js/jquery.mobilemenu.js"></script>
  	<!--[if lt IE 8]>
    		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
   	<![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<!--==============================header=================================-->
<header>
    <div class="container">
         <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">      
                  <div class="clearfix">
                  	<h1 class="brand"><a href="/"><img src="/site/img/logo.png" alt=""></a><span>hotel luxury</span></h1> 
                  	<div class="nav-collapse nav-collapse_ collapse">
                    <a href="#"></a>
                    <ul class="nav sf-menu clearfix">
                        <li><a href="/">Home <span>...welcome page</span></a></li>
                        <li class="sub-menu">
                            <a href="/assets/room">Rooms <span>...packages &amp; deals</span></a>
                            <!-- <ul>
                                <li><a href="#">Corporate</a></li>
                                <li class="sub-menu-1">
                                    <a href="#">Family</a>
                                    <ul>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Activities</a></li>
                                        <li><a href="#">Offers</a></li>
                                        <li><a href="#">Bonus</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Honeymoon</a></li>
                                <li><a href="#">Faqs</a></li>
                            </ul> -->
                        </li>
                        <li class="active"><a href="#">Booking <span>...prices &amp;  offers</span></a></li>
                        <li><a href="/assets/about">About <span>...who we are</span></a></li>
                        <li><a href="/assets/mail">Mail <span>...stay in touch</span></a></li>
                        <li><a href="/assets/hotelreservation">Hotel Reservation <span>...book with luxury</span></a></li>
                    </ul>
                  	</div>
                  </div>
             </div>  
         </div>
    </div>
</header>
<div id="content">
  <div class="container">     
        <div class="row">
          <article class="span4">
            <h2>booking</h2>
            <p class="col">We're committed to enhanced levels of cleanliness, as we reimagine the hotel experience. </p>
            <p> With its bustling backstreets, extensive dining and action-packed activities along 2km of pristine beach, La Mer provides entertainment for both young and old. Laguna Waterpark is a shorefront paradise for those who love to slide, splash and surf.</p>
            <a href="#" class="link">Online Booking</a>

            <h2>booking rules</h2>
            <ul class="list">
              <li>
                <span>1.</span>
                <div class="extra-wrap">
                  <a href="#">Tariff</a>
                  <p>
                      1. Tariff

                      The tariff is for the room only and is exclusive of any government taxes applicable Meals and other services are available at extra cost. To know your room tariff, please contact the Duty Manager, guest registration forms must be signed on arrivals.
                  </p>
                </div>
              </li>
              <li>
                <span>2.</span>
                <div class="extra-wrap">
                    <a href="#">Settlement Of Bills</a>
                    <p>
                        1. Tariff

                        The tariff is for the room only and is exclusive of any government taxes applicable Meals and other services are available at extra cost. To know your room tariff, please contact the Duty Manager, guest registration forms must be signed on arrivals.

                        2. Settlement Of Bills

                        Bills must be settled on presentation, personal cheques are not accepted.
                    </p>
                </div>
              </li>
              <li>
                <span>3.</span>
                <div class="extra-wrap">
                    <a href="#">Check-in </a>
                    <p>Please present your ID card, Passport or Temporary Residence Card upon Check-in. By Law visitors must present personal documents for hotel records. These documents will be returned upon departure. </p>
                </div>
              </li>
            </ul>
          </article>
          <article class="span8">
            <h2>Buy gift vouchers here</h2>
            <div class="row">
              <article class="span4">
                <div class="block">
                  <img src="/site/img/page-2-img.png" alt="">
                  <div class="extra-wrap">
                    <p class="col">
                        <a href="#">Fitness Center</a>
                    </p>
                    <p>
                        Plan a visit to the world’s tallest tower and largest shopping mall, home to extensive retail, dining and entertainment. Enjoy unparalleled photo opportunities at the world-renowned Dubai Fountain, with its daily music, water and light show.
                    </p>
                  </div>
                  <div class="clearfix"></div>
                  <p>Smaller meetings for up to eight guests can be held in our business center, ideal for private presentations to a selected group before heading for dinner at one of our restaurants. Our dedicated Terrace Suite features an inside suite and a 115 sq m outside terrace with a private bar area. Let our dedicated team inspire you with their ideas. </p>
                  
                </div>
              </article>
              <article class="span4">
                <div class="block">
                  <img src="/site/img/page-2-img-1.png" alt="">
                  <div class="extra-wrap">
                    <p class="col">
                        <a href="#">Weddings</a>
                    </p>
                    <p>Celebrate your special day with breathtaking views over the city and enjoy dancing the night away with family and friends. The outstanding culinary team at our upcoming rooftop restaurant “Kai Enzo” will deliver an exceptional experience. The 176 sq m space accommodates up to 100 guests. </p>
                  </div>
                </div>
              </article>
            </div>
            <a href="#" class="link">Buy Now</a>
            <h2>book a spa day</h2>
            <div class="row">
              <article class="span4">
                <div class="block-1">
                  <figure class="img-polaroid"><img src="/site/img/page-2-img-2.jpg" alt=""></figure>
                  <div class="extra-wrap">
                      <h3>
                          WELLNESS
                      </h3>
                      <p>Once back in the frangipani-scented embrace of the Maisha Mind, Body & Spirit Spa, caring therapists await to transport you on a journey of relaxation, rejuvenation and replenishment.</p>
                    <a href="#" class="link">Read more</a>
                  </div>
                </div>
              </article>
              <article class="span4">
                <div class="block-1">
                  <figure class="img-polaroid"><img src="/site/img/page-2-img-3.jpg" alt=""></figure>
                  <div class="extra-wrap">
                      <h3>FITNESS AND BEAUTY</h3>
                    <p>The Spa features a fitness studio offering cardiovascular and isotonic machines as well as free weights, tennis and squash courts and a stunning swimming pool. Within the main body of the resort are two Bedouin-style beachfront spa massage tents and an open-air space, where daily ‘Body Renewal' classes (‘Body Sculpture and Tone, Yoga, Martial arts and Ayurvedic regimes) are held. Adjacent to the spa, there is also a hair and beauty salon.</p>
                    <a href="#" class="link">Read more</a>
                  </div>
                </div>
              </article>
            </div>
          </article>
        </div>
  </div>
</div>
<footer>
  <div class="container">
	     <div class="row">
            <article class="span6 fright">
             <ul class="menu-footer">
               <li><a href="/">Home</a></li>
               <li><a href="/assets/room">rooms</a></li>
               <li class="current"><a href="#">booking</a></li>
               <li><a href="/assets/about">about</a></li>
               <li><a href="/assets/mail">mail</a></li>
             </ul>
           </article>
            <article class="span6 fleft">
                <span>Hotel luxury &copy; 2022 | &nbsp;&nbsp;</span><a href="/assets/hotelreservation">Designed by: Mwaniki Kelvin & Antony Khaoya</a><br><!-- {%FOOTER_LINK} -->
            </article>
           
       </div>
  </div>
</footer>
<script type="text/javascript" src="/site/js/bootstrap.js"></script>
</body>
</html>