<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="stylesheet" href="site/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="site/css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="site/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="site/css/nivo-slider.css" type="text/css" media="screen">
		<script type="text/javascript" src="site/js/jquery.js"></script>
    <script type="text/javascript" src="site/js/superfish.js"></script>
    <script type="text/javascript" src="site/js/jquery.mobilemenu.js"></script>
    <script type="text/javascript" src="site/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="site/js/jquery.equalheights.js"></script>
    <script type="text/javascript" src="site/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
     prevText: '',
           nextText: ''
      });
        jQuery(".maxheight").equalHeights();  
    });
    </script>


    
  	<!--[if lt IE 8]>
    		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>  
   	<![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<!--==============================header=================================-->
<header>
    <div class="container">
         <div class="navbar navbar_ clearfix">
            <div class="navbar-inner">      
                  <div class="clearfix">
                  	<h1 class="brand"><a href="home.ejs"><img src="site/img/logo.png" alt=""></a><span>hotel luxury</span></h1> 
                  	<div class="nav-collapse nav-collapse_ collapse">
                    <a href="#"></a>
                  	    <ul class="nav sf-menu clearfix">
                  	      <li class="active"><a href="#">Home <span>...welcome page</span></a></li>
                  	      <li class="sub-menu"><a href="/assets/room">Rooms <span>...packages &amp; deals</span></a>
                  	         <!-- <ul>
                  	          <li><a href="#">Corporate</a></li>
                  	          <li class="sub-menu-1"><a href="#">Family</a>
                                <ul>
                                  <li><a href="#">Gallery</a></li>
                                  <li><a href="#">Activities</a></li>
                                  <li><a href="#">Offers</a></li>
                                  <li><a href="#">Bonus</a></li>
                                </ul>
                              </li>
                  	          <li><a href="#">Honeymoon</a></li>
                  	          <li><a href="#">Faqs</a></li>
                  	         </ul> -->
                  	      </li>
                  	      <li><a href="/assets/booking">Booking <span>...prices &amp;  offers</span></a></li>
                  	      <li><a href="/assets/about">About <span>...who we are</span></a></li>
                  	      <li><a href="/assets/mail">Mail <span>...stay in touch</span></a></li>
                          <li><a href="/assets/hotelreservation">Hotel Reservation <span>...book with luxury</span></a></li>
                  	    </ul>
                  	</div>
                  </div>
             </div>  
         </div>
    </div>
</header>
<div id="content">
  <div class="container"> 
        <div class="row">
             <article class="span12">
               <div class="main-slider">
                 <div id="slider" class="nivoSlider"> 
                  <img src="site/img/01-eka-hotel-nairobi-mobile.jpg" data-thumb="site/img/01-eka-hotel-nairobi-mobile.jpg"   alt="" /> 
                  <img src="site/img/Eka-Hotel-Galaxy-Restaurant-2.jpg" data-thumb="site/img/Eka-Hotel-Galaxy-Restaurant-2.jpg"   alt="" /> 
                  <img src="site/img/Voyager-Beach-Resort-Mombasa.jpg" data-thumb="site/img/Voyager-Beach-Resort-Mombasa.jpg"   alt="" /> 
                  <img src="site/img/slide-4.jpg" data-thumb="site/img/slide-4_small.jpg"   alt="" /> 
                  <img src="site/img/slide-5.jpg" data-thumb="site/img/slide-5_small.jpg"   alt="" /> 
                  <img src="site/img/slide-6 (2).jpg" data-thumb="site/img/slide-6 (2).jpg"   alt="" /> 
                </div>
               </div>
             </article>
        
        </div>
        <div class="row row-img">
          <article class="span9">
            <h2>FEATURED OFFERS </h2>
            <div class="row">
              <ul class="thumbnails">
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/weekend-staycation.jpg" alt=""></figure>
                    <a href="#">Gold Membership <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/page-img-1.jpg" alt=""></figure>
                    <a href="#">Book Early and Stay Late <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/page-img-2.jpg" alt=""></figure>
                    <a href="#">Make the Moment Last <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/page-img-3.jpg" alt=""></figure>
                    <a href="#">Gold Passport Exclusive <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/page-img-4.jpg" alt=""></figure>
                    <a href="#">Extra Value <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
                <li class="thumbnail span3">
                  <div class="maxheight">
                    <figure class="img-polaroid spinner"><img src="site/img/page-img-5.jpg" alt=""></figure>
                    <a href="#">Retreats <img src="site/img/thumbnails-img.png"  alt=""><span></span></a>
                  </div>
                </li>
              </ul>
            </div>
          </article>
          <article class="span3">
              <h2>Comfort & Convenience at ...the Only One!</h2>
            <section class="comments">
                <p>Hotel Luxury, a contemporary style hotel that provides all the comfort, convenience and efficiency to the discerning traveler.</p>
            <div>
              
              <figure class="img-polaroid"><img src="site/img/IMG_8070 copy.jpg" alt=""></figure>
              <span class="name">
                <a href="#">Mwaniki Kelvin</a>
                <span>Founder</span>
              </span>
            </div>
            </section>
          </article>
        </div>
  </div>
</div>
<footer>
  <div class="container">
	     <div class="row">
            <article class="span6 fright">
             <ul class="menu-footer">
               <li class="current"><a href="/">Home</a></li>
               <li><a href="/assets/room">rooms</a></li>
               <li><a href="/assets/booking">booking</a></li>
               <li><a href="/assets/about">about</a></li>
               <li><a href="/assets/mail">mail</a></li>
             </ul>
           </article>
	         <article class="span6 fleft">
                 <span>Hotel luxury &copy; 2022 | &nbsp;&nbsp;</span><a href="/assets/hotelreservation">Designed by: Mwaniki Kelvin & Antony Khaoya</a><br><!-- {%FOOTER_LINK} -->
           </article>
           
       </div>
  </div>
</footer>
<script type="text/javascript" src="site/js/bootstrap.js"></script>
</body>
</html>